{{#each this}}
  <div class='photo-card'>
    <a href='{{largeImageURL}}'>
      <img src='{{webformatURL}}' alt='{{tags}}' loading='lazy' /></a>
    <div class='info'>
      <div class='wrapper'>
        <p class='info-item'>
          <b>Likes </b>
        </p>
        <p class='info-value'>
          {{likes}}
        </p>
      </div>
      <div class='wrapper'>
        <p class='info-item'>
          <b>Views </b>
        </p>
        <p class='info-value'>
          {{views}}
        </p>
      </div>
      <div class='wrapper'>
        <p class='info-item'>
          <b>Comments </b>
        </p>
        <p class='info-value'>
          {{comments}}
        </p>
      </div>
      <div class='wrapper'>
        <p class='info-item'>
          <b>Downloads </b>
        </p>
        <p class='info-value'>
          {{downloads}}
        </p>
      </div>
    </div>
  </div>
{{/each}}